.card {
  width: 600px;
  height: 400px; // Tried so hard, no idea how to make this relative.
  overflow: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .content {
    font-family: "Open Sans";
    text-align: center;
    padding-top: 100%;
    padding-bottom: 100%;
    padding-left: 30px;
    padding-right: 30px;
    opacity: 0;
    transition: all 500ms ease-in-out;
    transform: translate(0, 20px);
    cursor: pointer;
    background-color: rgba(22, 22, 22, 0.801);
    
    h1 {
      font-size: 22px;
      color: white;
    }
    p {
      font-size: 16px;
      color: white;
      margin-bottom: 30px;
    }

    .btn {
      background-color: black;
      color: white;
      padding: 10px;
      margin: 5px;
      text-decoration: none;
    }
    &:hover {
      opacity: 1;
      transform: translate(0, 0px);
    }
  }
}
